
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<hr />
<section class="content">
    <div class="container-fluid">
        <div class="card card-cyan">
            <div class="card-header">
                <h3 class="card-title">Murat Kavak - Yetki Tanımlamaları</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="checkboxPrimary3">
                            Yeni Kayıt
                        </label>
                        <div class="form-group clearfix">
                            Ekle
                            <div class="icheck-primary d-inline">
                                <input type="checkbox" id="checkboxPrimary1">
                                <label for="checkboxPrimary1">
                                </label>
                            </div>
                            Sil
                            <div class="icheck-primary d-inline">
                                <input type="checkbox" id="checkboxPrimary2">
                                <label for="checkboxPrimary2">
                                </label>
                            </div>
                            <div class="icheck-primary d-inline">
                                Düzenle
                                <input type="checkbox" id="checkboxPrimary3">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="checkboxPrimary3">
                            Kayıt Düzenleme
                        </label>
                        <div class="form-group clearfix">
                            Ekle
                            <div class="icheck-primary d-inline">
                                <input type="checkbox" id="checkboxPrimary1">
                                <label for="checkboxPrimary1">
                                </label>
                            </div>
                            Sil
                            <div class="icheck-primary d-inline">
                                <input type="checkbox" id="checkboxPrimary2">
                                <label for="checkboxPrimary2">
                                </label>
                            </div>
                            <div class="icheck-primary d-inline">
                                Düzenle
                                <input type="checkbox" id="checkboxPrimary3">
                            </div>
                        </div>
                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <label for="checkboxDanger3">
                            Tanımlamalar
                        </label>
                        <div class="form-group clearfix">
                            Ekle
                            <div class="icheck-danger d-inline">
                                <input type="checkbox" id="checkboxDanger1">
                                <label for="checkboxDanger1">
                                </label>
                            </div>
                            <div class="icheck-danger d-inline">
                                Sil
                                <input type="checkbox" id="checkboxDanger2">
                                <label for="checkboxDanger2">
                                </label>
                            </div>
                            <div class="icheck-danger d-inline">
                                Düzenle
                                <input type="checkbox" id="checkboxDanger3">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="checkboxDanger3">
                            Raporlar
                        </label>
                        <div class="form-group clearfix">
                            İzleme
                            <div class="icheck-danger d-inline">
                                <input type="checkbox" id="checkboxDanger1">
                                <label for="checkboxDanger1">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="col-sm-6">
                    <label for="checkboxDanger3">
                        Ayarlar
                    </label>
                    <div class="form-group clearfix">
                        Ekle
                        <div class="icheck-danger d-inline">
                            <input type="checkbox" id="checkboxDanger1">
                            <label for="checkboxDanger1">
                            </label>
                        </div>
                        <div class="icheck-danger d-inline">
                            Sil
                            <input type="checkbox" id="checkboxDanger2">
                            <label for="checkboxDanger2">
                            </label>
                        </div>
                        <div class="icheck-danger d-inline">
                            Düzenle
                            <input type="checkbox" id="checkboxDanger3">

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Onayla</button>
                <button type="submit" class="btn btn-primary">Temizle</button>
            </div>
        </div>
    </div>
</section>
