
@using IntimeVisitor.Entities.Domain
@model List<UserType>
@{
    ViewBag.Title = "UserType";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<hr />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 mx-auto ">
                @Html.Partial("~/Views/PartialView/AddExportPartialView.cshtml")
                <div class="card-body ">
                    <div id="example1_wrapper " class="dataTables_wrapper dt-bootstrap4 ">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Kullanıcı Tip Adı</th>
                                            <th class="sorting " tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Durum</th>
                                            @*<th class="sorting " tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">işlemler</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td class="dtr-control sorting_1 " tabindex="0">@item.UserTypeName</td>
                                                @if (item.Status == true)
                                                {
                                                    <td>
                                                        <a href="/UserType/GetType/@item.Id" class="btn btn-info fas fa-edit"></a>
                                                        @Html.ActionLink(" ", "SoftDelete", new { id = item.Id }, new { @class = "btn btn-danger fas fa-trash-alt", onclick = "return confirm('Silmek İstiyor musunuz ? ');" })
                                                        <a href="/UserType/StatusUpdate/@item.Id" class="btn btn-lg bg-transparent fas fa-eye-slash">  Kullanım Dışı</a>
                                                    </td>
                                                    @*<td class="dtr-control sorting_1" tabindex="0">Kullanımda</td>*@
                                                }
                                                else
                                                {
                                                    <td>
                                                        <a href="/UserType/GetType/@item.Id" class="btn btn-info fas fa-edit"></a>
                                                        @Html.ActionLink(" ", "SoftDelete", new { id = item.Id }, new { @class = "btn btn-danger fas fa-trash-alt", onclick = "return confirm('Silmek İstiyor musunuz ? ');" })
                                                        <a href="/UserType/StatusUpdate/@item.Id" class="btn btn-lg bg-transparent fas fa-eye">  Kullanımda</a>
                                                    </td>
                                                    @*<td class="dtr-control sorting_1" tabindex="0">Kullanım Dışı</td>*@
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Tip Bilgileri</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    @using (Html.BeginForm("UserTypeAdd", "UserType", FormMethod.Post))
                                    {
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Tip Adı :<span style="color:red">*</span></label>
                                                <input type="text" name="UserTypeName" placeholder="Tip Adı" class="form-control" required />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                            <button type="submit" class="btn btn-primary">Ekle</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




