<div class="dt-buttons btn-group flex-wrap d-flex justify-content-center">
    <button class="btn btn-info buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button" data-toggle="modal" data-target="#Add">
        <span><i class="fas fa-plus mr-3"></i>Yeni Kayıt</span>
    </button>
    @*<button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="example1" type="button">
            <span>Kopyala</span>
        </button>*@
    @*<button class="btn btn-secondary buttons-csv buttons-html5" tabindex="0" aria-controls="example1" type="button">
        <span>CSV</span>*@
    @*</button>*@
    <button class="btn btn-secondary buttons-excel buttons-html5" tabindex="0" aria-controls="example1" type="button" id="exportExcel">
        <span>Excel</span>
    </button>
    @*<button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="example1" type="button" id="exportPdf">
            <span>PDF</span>
        </button>
        <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="example1" type="button"><span>Print</span></button>*@
</div>
