@*@{
        Layout = null;
    }*@
@model IntimeVisitor.Entities.Domain.VisitDetail
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">

    <link href="~/VisitorWeb/Mediafile/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link href="~/VisitorWeb/Mediafile/themes/explorer-fas/theme.css" media="all" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/VisitorWeb/Mediafile/js/plugins/piexif.js" type="text/javascript"></script>
    <script src="~/VisitorWeb/Mediafile/js/plugins/sortable.js" type="text/javascript"></script>
    <script src="~/VisitorWeb/Mediafile/js/fileinput.js" type="text/javascript"></script>
    <script src="~/VisitorWeb/Mediafile/js/locales/fr.js" type="text/javascript"></script>
    <script src="~/VisitorWeb/Mediafile/js/locales/es.js" type="text/javascript"></script>
    <script src="~/VisitorWeb/Mediafile/themes/fas/theme.js" type="text/javascript"></script>
    <script src="~/VisitorWeb/Mediafile/themes/explorer-fas/theme.js" type="text/javascript"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
            integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <style>
        :root {
            --input-padding-x: 1.5rem;
            --input-padding-y: .75rem;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        React
        Reply


        body {
            /* background: #007bff;
            background: linear-gradient(to right, #0062E6, #33AEFF);*/
            background-image: url("../../VisitorWeb/4216.jpg");
            background-size: cover;
        }

        .card-signin {
            border: 0;
            border-radius: 1rem;
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
        }

            .card-signin .card-title {
                margin-bottom: 2rem;
                font-weight: 300;
                font-size: 1.5rem;
            }

            .card-signin .card-body {
                padding: 2rem;
            }

        .form-signin {
            width: 100%;
        }

            .form-signin .btn {
                font-size: 80%;
                border-radius: 5rem;
                letter-spacing: .1rem;
                font-weight: bold;
                padding: 1rem;
                transition: all 0.2s;
            }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

            .form-label-group input {
                height: auto;
                border-radius: 2rem;
            }

            .form-label-group > input,
            .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x);
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0;
                /* Override default `<label>` margin */
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out;
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent;
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-moz-placeholder {
                color: transparent;
            }

            .form-label-group input::placeholder {
                color: transparent;
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
                padding-bottom: calc(var(--input-padding-y) / 3);
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y) / 3);
                    padding-bottom: calc(var(--input-padding-y) / 3);
                    font-size: 12px;
                    color: #777;
                }

        .mt-10 {
            margin-top: 5%;
        }

        .bg-intime {
            color: #fff;
            background: #cccccc;
        }

        .nav-pills .nav-link.active {
            color: #fff !important;
            background-color: #76aae7;
        }

        .nav-pills .nav-link:hover {
            color: #fff !important;
        }


        /* Fallback for Edge
        -------------------------------------------------- */



        /* Fallback for IE
        -------------------------------------------------- */


    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mb-5 mt-10">
                <div class="card card-signin">
                    <div class="card-body">
                        <h1 class="text-center"><img src="~/VisitorWeb/intimevisitor.svg" alt=""></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-12 mx-auto">
                <div class="card card-signin mb-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Kayıt Panel</h5>
                        <ul class="nav nav-pills d-flex justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item col-3 p-0 bg-intime rounded" role="presentation">
                                <a class="nav-link col-12 text-center text-light  active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Kişisel Bilgiler</a>
                            </li>
                            <li class="nav-item col-3 ml-3 p-0 bg-intime rounded " role="presentation">
                                <a class="nav-link col-12 text-center text-light  " id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">İletişim Bilgileri</a>
                            </li>
                            <li class="nav-item col-3 ml-3 p-0 bg-intime rounded " role="presentation">
                                <a class="nav-link col-12 text-center text-light  " id="pills-media-tab" data-toggle="pill" href="#pills-media" role="tab" aria-controls="pills-media" aria-selected="false">Medya -Ek Bilgileri</a>
                            </li>
                        </ul>

                        @using (Html.BeginForm("VisitorVisitAdd", "Login", FormMethod.Post))
                        {
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="container">
                                        <div class="row mt-3">
                                            <div class="form-group col-12">
                                                <div class="form-label-group">
                                                    @*@Html.DropDownList("UserTypeId", ViewBag.types as IEnumerable<SelectListItem>, new { @class = "dropdown form-control" })*@
                                                </div>
                                            </div>


                                            <div class="form-group col-6">
                                                <div class="form-label-group">
                                                    <input type="number" id="inputEmail" class="form-control" placeholder="TC Kimlik No" name="TCNo" maxlength="11" required autofocus onKeyPress="if(this.value.length==11) return false;">
                                                    <label for="inputEmail">TC Kimlik No</label>
                                                </div>
                                            </div>

                                            <div class="form-group col-6">

                                                <div class="form-label-group">
                                                    <input type="text" id="inputName" class="form-control" placeholder="İsim" name="Name" required autofocus onKeyPress="if(this.value.length==30) return false;">
                                                    <label for="inputName">İsim</label>
                                                </div>




                                            </div>

                                            <div class="form-group col-6">


                                                <div class="form-label-group">
                                                    <input type="text" id="inputSurName" class="form-control" placeholder="Soyisim" name="SurName" required autofocus onKeyPress="if(this.value.length==30) return false;">
                                                    <label for="inputSurName">Soyisim</label>
                                                </div>

                                            </div>
                                            <div class="form-group col-6">
                                                <div class="form-label-group">
                                                    <input type="text" id="inputFatherName" class="form-control" placeholder="Baba Adı" name="FatherName" required autofocus onKeyPress="if(this.value.length==30) return false;">
                                                    <label for="inputFatherName">Baba Adı</label>
                                                </div>

                                            </div>
                                            <div class="form-group col-6">

                                                <div class="form-label-group">
                                                    <input type="text" id="inputMotherName" class="form-control" placeholder="Anne Adı" name="MotherName" required autofocus onKeyPress="if(this.value.length==30) return false;">
                                                    <label for="inputMotherName">Anne Adı</label>
                                                </div>


                                            </div>





                                            <div class="form-group col-6">

                                                <div class="form-label-group">
                                                    <input type="text" id="inputBirthPlace" class="form-control" placeholder="Doğum Yeri" name="BirthPlace" required autofocus onKeyPress="if(this.value.length==30) return false;">
                                                    <label for="inputBirthPlace">Doğum Yeri</label>
                                                </div>


                                            </div>

                                            <div class="form-group col-6" id="reservationdate" data-target-input="nearest">


                                                <div class="form-label-group">
                                                    <input type="date" id="inputBirthDate" class="form-control" placeholder="Doğum Tarihi" name="BirthDate" required autofocus>
                                                    <label for="inputBirthDate">Doğum Tarihi</label>
                                                </div>



                                            </div>
                                            <div class="form-label-group col-6 mt-3">

                                                <div class="custom-control custom-radio d-inline-block  ">
                                                    <input class="custom-control-input" type="radio" id="womanRadio" name="Gender" value="true">
                                                    <label for="womanRadio" class="custom-control-label">Kadın</label>
                                                </div>
                                                <div class="custom-control custom-radio d-inline-block ml-4">
                                                    <input class="custom-control-input" type="radio" id="manRadio" name="Gender" value="false">
                                                    <label for="manRadio" class="custom-control-label">Erkek</label>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="container">
                                        <div class="row mt-10">
                                            <div class="form-group col-12">

                                                <div class="form-label-group">
                                                    <input type="text" id="inputAddress" class="form-control" placeholder="Adres" name="Address" required autofocus>
                                                    <label for="inputAddress">Adres </label>
                                                </div>

                                            </div>
                                            <div class="form-group col-6">

                                                <div class="form-label-group">
                                                    <input type="email" id="inputEPosta" class="form-control" placeholder="E-Posta" name="EPosta" required autofocus>
                                                    <label for="inputEPosta">E-Posta </label>
                                                </div>

                                            </div>

                                            <div class="form-group col-6">

                                                <div class="form-label-group">
                                                    <input type="tel" id="inputPhone" class="form-control" placeholder="Telefon No" name="Phone" required autofocus onKeyPress="if(this.value.length==10) return false;">
                                                    <label for="inputPhone">Telefon No </label>
                                                </div>
                                            </div>

                                            @*<div class="form-group col-6">
                                                    <div class="form-label-group">
                                                        <input type="password" id="inputPassword" class="form-control" placeholder="Şifre" name="Password"
                                                               required>
                                                        <label for="inputPassword">Şifre</label>
                                                    </div>
                                                </div>*@

                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="pills-media" role="tabpanel" aria-labelledby="pills-media-tab">
                                    <div class="container">
                                        <div class="row mt-10">


                                            <div class="form-group col-12">
                                                <input id="input-b1" name="input-b1" type="file" class="file" multiple data-browse-on-zone-click="true">
                                            </div>
                                            @*<div class="form-group col-12">
                                                    <div class="form-label-group">


                                                    </div>
                                                </div>*@


                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit" class="btn btn-lg btn-success btn-block  mt-2" onclick="return confirm ('Sisteme Giriş Şifreniz Mail Olarak Gönderilmiştir.');">Kaydet</button>

                                </div>
                                <div class="col-6">
                                    <a href="/Login/LoginOpen" class="btn btn-lg btn-info btn-block  mt-2">Giriş Yap</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script>
 // alert(ViewBag.PasswordAlert["Sisteme Giriş Şifreniz Mail Olarak Gönderilmiştir."]);
</script>

